# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment
.env

# Database
database/*.db

# Logs
logs/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Text
uploads/